/*
Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries

/*--------------------------------------------------------------
# Site set up
--------------------------------------------------------------*/
@import "../inc/bourbon/bourbon";
@import "grid-settings";
@import "../inc/neat/neat";
@import "variables-site/variables-site";
@import "mixins/mixins-master";

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import "normalize";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "typography/typography";

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
@import "elements/elements";

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
@import "forms/forms";

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
@import "navigation/navigation";

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
@import "modules/accessibility";

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
@import "modules/alignments";

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
@import "modules/clearings";

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
@import "site/secondary/widgets";

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
@import "site/site";

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
@import "modules/infinite-scroll";

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
@import "media/media";

body {
@include media($md) {
    font-size: 100%
    }
    font-size: 80%;
}



#primary {
    @include media($md) {
    @include outer-container();
    @include pad(8em 1em);
    }
    @include pad(8em 1em);
}

#homePrimary {
    @include media($md) {
    @include pad(8em 1em);
    }
    @include pad(8em 1em);
    background: white;
}


.site-header {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: 0 0.05rem 1rem rgba(0, 0, 0, 0.15);
    a {
        text-decoration: none;
    }
}


.site-branding {
    @include fill-parent();
    text-align: center;
    h1 {
        @include media($md) {
        margin-top: 0.25em;
        margin-bottom: 0em;
        font-weight: normal;
        font-size: 170%;
        }
        @include span-columns(8);
        @include shift(2);
        font-size: 150%;
    }
}


footer {
    @include pad(.5em);
    background: #fff;
    text-align: center;
}

article {
    @include media($md) {
    @include span-columns(8 of 8);
    }
    @include fill-parent();
    @include pad(1em);
}



.home #content {
        @include fill-parent();
       height: auto;
        .entry-content {

        }
    }
    article {
        @include fill-parent();
        position: relative;
        .home-content{
            @include media($md) {
            position: absolute;
            bottom: 10%;
            left: 5%;
            padding: .5em;
            width: 70%;
            font-size: .9em;
            }
            bottom: 0%;
            font-size: .9em;
            left: 0%;
            width: 100%;
            background: rgba(255,255,255,.95);

        }
        img {
            -webkit-filter: hue-rotate(320deg);
    filter: hue-rotate(320deg);
        }
    }

#openForm {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15%;
    margin: 1%;
    border: none;
    background: lightblue;
    padding: 1em;
    text-transform: uppercase;
    z-index: 11;
}

.form {
    display: none;
}

.widget-area {
    @include media($md) {
    @include span-columns(3 of 8);
    float: right;
    @include omega;
    }
    @include fill-parent();
    @include pad(1em);
}
