/*
Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries

/*--------------------------------------------------------------
# Site set up
--------------------------------------------------------------*/
@import "../inc/bourbon/bourbon";
@import "grid-settings";
@import "../inc/neat/neat";
@import "variables-site/variables-site";
@import "mixins/mixins-master";

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import "normalize";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "typography/typography";

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
@import "elements/elements";

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
@import "forms/forms";

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
@import "navigation/navigation";

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
@import "modules/accessibility";

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
@import "modules/alignments";

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
@import "modules/clearings";

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
@import "site/secondary/widgets";

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
@import "site/site";

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
@import "modules/infinite-scroll";

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
@import "media/media";

body {
@include media($md) {
    font-size: 100%
    }
    font-size: 80%;
}


.main-navigation {
    @include media($sm){
        display: none;
    }
}

.menu-btn {
    @include media($sm) {
        display: block;
    }
    @include media ($md) {
        display: none;
    }
}

.main-navigation {
    @include media($md){
        display: block;
        padding-bottom: .5em;
    }
}


#primary {
    @include media($md) {
    @include pad(0em 3em);
    margin-top: 9em;
    }
    @include pad(0em 1em);
    margin-top: 9em;
}

#homePrimary {
    @include media($md) {
    @include pad(0em 3em);
    margin-top: 8em;
    }
    @include pad(0em 1em);
    margin-top: 8em;
}


.site-header {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: 0 0.05rem 1rem rgba(0, 0, 0, 0.15);
    a {
        text-decoration: none;
    }
}


.site-branding {
    @include fill-parent();
    text-align: center;
    h1 {
        @include media($md) {
        margin-bottom: 0em;
        font-weight: normal;
        font-size: 170%;
        }
        @include span-columns(8);
        @include shift(2);
        font-size: 150%;
        background: url('http://127.0.0.1/package/wp-content/themes/_s/pathways.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 35% center;
        :after {
        content: "demo!";
        color: #FF6347;
        padding: 0.1em 0.4em;
        vertical-align: super;
        font-size: 60%;
        }
    }
}


footer {
    @include pad(.5em);
    background: #fff;
    text-align: center;
}

.page-header {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 1em;
    h1 {
        display: inline;
    }
    span {
        font-size: 2.5em;
        margin-left: 1em;
        color: tomato;
    }
}


#content {
    background: beige;
}

article {
    @include media($md) {
    @include span-columns(8 of 8);
    }
    @include fill-parent();
    @include pad(1em);
     background: white;
}



.home #content {
        @include fill-parent();
       height: auto;
        img {
            -webkit-filter: hue-rotate(320deg);
    filter: hue-rotate(320deg);
        }
    }
    article {
        @include fill-parent();
        position: relative;
        .home-content{
            @include media($md) {
            position: absolute;
            bottom: 10%;
            left: 5%;
            padding: 0 .5em;
            width: 90%;
            font-size: .9em;
            }
            bottom: 0%;
            font-size: .9em;
            left: 0%;
            width: 100%;
            background: rgba(255,255,255,.95);

        }
    }

#openForm {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15%;
    margin: 1%;
    border: none;
    background: lightblue;
    padding: 1em;
    text-transform: uppercase;
    z-index: 11;
    @include media($sm) {
        width: 25%;
        font-size: 80%;
        top: 5px;
    }
}


.form {
    display: none;
}

.widget-area, .home aside#right {
    @include media($md) {
    @include span-columns(4 of 8);
    float: right;
    background: #fff;
    height: 430px;
    margin: 3em 0 3em 0;
    @include omega;
    }
    @include fill-parent();
    @include pad(1em);
    background: #fff;
    margin-bottom: 1em;
}

.home aside#left {
    @include media($md) {
    @include span-columns(4 of 8);
    float: left;
    height: 430px;
    background: #fff;
    margin: 3em 0 3em 0;
    @include omega;
    }
    @include fill-parent();
    @include pad(1em);
    background: #fff;
    margin-bottom: 1em;
}

.home aside#quickSearch {
    @include media($md) {
    @include span-columns(8 of 8);
    float: left;
    background: #fff;
    margin: 1.5em 0 0 0;
    @include omega;
    }
    @include fill-parent();
    @include pad(1em);
    background: #fff;
    margin-bottom: 1em;
}

.archive img {
    width: 20%;
    float: left;
    margin-right: 1em;
    border-bottom: 8px solid lightblue;
}
